.white {
    color: rgb(232, 230, 227);
    margin-bottom: 1em;
}

.add {
    user-select: none;
    display: flex;
    justify-content: center;
    width: 10em;
    padding: .5em;
    border-radius: .1em;
    background-image: var(--gradientButton);
    cursor: pointer;
    color: rgb(232, 230, 227);
    margin-top: 1.8em;
}

.add:hover {
    color: rgb(209, 208, 206);
    background-image: var(--gradientButtonHover);
}

.add:active {
    color: rgb(185, 185, 185);
    background-image: var(--gradientButtonActive);
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 999999;
}

.ModalDelete {
    text-align: center;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
    width: 27em;
    border: 2px solid black;
    background-color: rgb(30, 30, 30);
    border-radius: .3em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.ModalDelete:active,
.ModalDelete:focus {
    outline: none;
    border: 2px solid black;
}

.flexCenterGame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--baseBackground3);
    padding: 3em;
    padding-left: 1em;
    padding-bottom: 2em;
    border-radius: .3em;
    width: 25em;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    width: 117%;
    margin-top: 3em;
    user-select: none;
    position: relative;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.nameText {
    color: rgb(232, 230, 227);
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    font-weight: bold;
    margin-bottom: .5em;
}

.nameInput {
    background: var(--drawerRowBackground);
    color: rgb(232, 230, 227);
    margin-bottom: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border: 3px solid black;
}

.nameInput:focus {
    background: var(--drawerRowBackgroundHover);
}

.nameInput:active,
.nameInput:focus {
    outline: none;
}

.edit {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    border-radius: .1em;
    width: 8em;
    background: var(--gradientButton);
    cursor: pointer;
    color: rgb(232, 230, 227);
    font-size: 1.1em;
    font-weight: bold;
    border: none;
    outline: none;
    margin-right: 1em;
    margin-left: 1em;
}

.disabledEdit {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    border-radius: .1em;
    width: 8em;
    background-image: linear-gradient(to right, rgb(0, 114, 57), rgb(22, 64, 83));
    color: rgb(146, 141, 141);
    font-size: 1.1em;
    font-weight: bold;
    border: 0px solid black;
    margin-right: 1em;
    margin-left: 1em;
}

.edit:hover {
    color: rgb(209, 208, 206);
    background-image: var(--gradientButtonHover);
}

.edit:active {
    color: rgb(185, 185, 185);
    background-image: var(--gradientButtonActive);
}

.text {
    margin: 1em;
    text-align: center;
}

.delete {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(189, 22, 0);
    padding: .5em;
    padding-bottom: .7em;
    width: 8em;
    border-radius: .1em;
    cursor: pointer;
    color: rgb(232, 230, 227);
    font-size: 1.2em;
    font-weight: bold;
    border: 0px solid black;
    margin-left: 3em;
}

.delete:hover {
    background-color: rgb(150, 17, 0);
}

.delete:active {
    background-color: rgb(124, 14, 0);
}

.imageUploadContainer {
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
}

.fileText {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: -1em;
    color: rgb(232, 230, 227);
}

.fileText:hover {
    scale: 1.03;
}

.imageUpload {
    width: 3em;
    height: 3em;
    cursor: pointer;
    display: flex;
    justify-self: center;
    align-self: center;
}

.imageUploadContainer>input {
    display: none;
}

.success {
    margin: 1em;
    color: rgb(0, 196, 0);
    text-align: center;
}

/* Search */
.container {
    background-color: var(--baseBackground3);
    position: relative;
    z-index: 2;
    width: 75%;
}

.inputFormContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.input {
    width: 23.5em;
    padding-top: .8em;
    padding-bottom: .8em;
    padding-left: .8em;
    background: var(--drawerRowBackground);
    border: none;
    font-size: 1em;
    color: whitesmoke;
    border: 3px solid black;
    user-select: none;
}

.input:focus,
.input:active {
    background: var(--drawerRowBackgroundHover);
    outline: none;
}

.containerOpen {
    position: relative;
}

.suggestionsContainerOpen {
    position: absolute;
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 24.5em;
    background-color: var(--baseBackground3);
}

.suggestionsList {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 15em;
    overflow-y: scroll;
    border: 1px solid black;
    border-bottom: 3px solid black;
}

.suggestionsList::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.suggestionsList::-webkit-scrollbar {
    width: 1em;
    background-color: var(--baseBackground1);
}

.suggestionsList::-webkit-scrollbar-thumb {
    background: var(--baseBackground2);
}

.suggestion {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--baseBackground3);
    height: 4em;
    cursor: pointer;
}

.suggestionHighlighted {
    background: var(--baseBackground1);
}

/* Results */

.textInfo {
    margin: 0;
    padding: 0;
    color: rgb(232, 230, 227);
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    font-weight: bold;
    margin-bottom: .5em;
}

.resultSelected {
    margin-top: 1.5em;
    font-size: .9em;
}

.results {
    font-size: .8em;
    font-style: italic;
    height: auto;
    max-height: 20em;
    width: 31em;
    margin-top: 2em;
    margin-bottom: 1em;
    overflow-y: auto;
    background: var(--baseBackground1);
}

.results::-webkit-scrollbar-track {
    border-radius: 1em;
    background-color: var(--baseBackground1);
}

.results::-webkit-scrollbar {
    width: 1em;
    background-color: rgba(0, 0, 0, 0);
}

.results::-webkit-scrollbar-thumb {
    background: var(--baseBackground2);
}

.loadingBox {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-left: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageLoading {
    width: 3em;
    display: flex;
    justify-self: center;
    align-self: center;
    margin-top: 3em;
}

@media screen and (max-width: 648px) {
    .Modal {
        width: 100%;
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

@media screen and (max-width: 480px) {

    .add,
    .delete,
    .edit,
    .disabledEdit {
        font-size: .9em;
    }
}