.linkStyles {
    text-decoration: none;
    text-align: center;
}

.posterHeader {
    background: -webkit-linear-gradient(0deg, #08C776, #2A7EA2);
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
}

.posterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    text-decoration: none;
    width: 10em;
    height: 12em;
    cursor: pointer;
    transition: all .3s;
    position: relative;
}

.posterImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: brightness(10%);
    border-radius: .5em;
    box-shadow: 0 0 .5em .2em black;
}

.posterContainer:hover {
    scale: 1.06;
}

.delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.2em;
    padding: .7em;
    border-bottom-left-radius: .5em;
    border-top-right-radius: .5em;
    background-color: rgb(255, 0, 0, .2);
    transition: all .2s;
    z-index: 999999;
}

.delete:hover {
    background-color: rgb(255, 0, 0, .6);
    width: 1.3em;
    padding: .8em;
}

.linker {
    font-size: 2em;
}