:root {
    --arrow-opacity: .5;
}

.biggerPapa {
    user-select: none;
}

.arrow {
    position: fixed;
    z-index: 90;
    height: 41.5em;
    width: 4.5em;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightArrow {
    right: 0;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, .5);
}

.arrow:active {
    background-color: rgba(0, 0, 0, .6);
    --arrow-opacity: .8;
}

.last,
.first {
    width: 3em;
    height: auto;
    opacity: var(--arrow-opacity);
}

.papa {
    background-color: rgb(11, 12, 13);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.imageLoading {
    width: 3em;
    display: flex;
    align-self: center;
    justify-self: center;
}

.loadingContainer {
    background-image: linear-gradient(to right, rgb(11, 12, 13) 5%, rgba(20, 20, 20, .7));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35em;
}

.fixedBackArrow {
    z-index: 99;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    background-image: linear-gradient(to right, rgb(11, 12, 13) 5%, rgba(20, 20, 20, .7));
}

.backArrow {
    margin: 2em;
    width: 3em;
    height: 2.5em;
    cursor: pointer;
    transition: all .2s;
}

.backArrow:hover {
    scale: 1.1;
}

.extra {
    margin-right: .5em;
}

.extra2 {
    margin-left: 1em;
}

.border {
    margin-left: 1em;
    padding: .2em;
    border-radius: .3em;
}

.tags {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.container {
    height: 35em;
}

.childContainer {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgb(11, 12, 13) 5%, rgba(20, 20, 20, .7));
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.flexContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.header {
    margin-bottom: 0;
}

.textContainer {
    max-width: 30em;
}

.videoContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, .9) 0 0 1em .5em;
    height: 25em;
    width: 40em;
}

.starContainer {
    display: flex;
    align-items: center;
}

.star {
    height: 1em;
    width: auto;
    margin-right: .3em;
}

@media screen and (max-width: 1200px) {
    .textContainer {
        font-size: .8em;
    }

    .videoContainer {
        height: 20em;
        width: 35em;
    }
}

@media screen and (max-width: 996px) {
    .flexContainer {
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-left: 10vw;
    }

    .videoContainer {
        max-width: 80vw;
        align-self: flex-start;
    }

    .textContainer {
        max-width: 80vw;
        font-size: .8em;
    }

    .backArrow {
        margin-left: 10vw;
    }
}

@media screen and (max-width: 640px) {
    .flexContainer {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .videoContainer {
        width: 100%;
        height: auto;
        aspect-ratio: 40 / 23;
    }

    .textContainer {
        max-width: 80vw;
        font-size: .8em;
    }
}