.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20em;

}

.text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    max-width: 25em;
    background-color: rgb(11, 12, 13);
    border-radius: 1em;
    padding: 2em;
}

.textChild {
    background-color: rgb(24, 24, 24);
    border-radius: 1em;
    padding-right: 2em;
    padding-left: 2em;
}