.drawerContainer {
    background-color: var(--baseBackground4);
    height: 100%;
    user-select: none;
}

.Modal {
    text-align: center;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.Modal:active,
.Modal:focus {
    outline: none;
    border: 2px solid black;
}

.search {
    width: 100%;
    padding-top: .8em;
    padding-bottom: .8em;
    padding-left: 2em;
    margin-bottom: .8em;
    background: var(--searchBackground);
    border: none;
    font-size: 1.1em;
    color: whitesmoke;
}

.search:focus,
.search:active {
    background: var(--searchBackgroundActive);
    border: 0px solid grey;
    outline: none;
}

.drawerHeader {
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    display: flex;
    width: 100%;
}

.drawerHeaderText {
    background: var(--gradientText);
    width: 100%;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listColumn {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 999999;
}

.addNew {
    cursor: pointer;
    background-color: rgb(24, 24, 24);
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding-top: .4em;
    padding-bottom: .4em;
    background: var(--gradientText);
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.addNew:hover {
    filter: brightness(120%);
}

.addBackground {
    margin-top: 2em;
    background: var(--drawerRowBackground);
}

.addBackground:hover {
    background: var(--drawerRowBackgroundHover);
}

.add {
    font-size: 2em;
    margin-right: .3em;
    margin-left: .65em;
    margin-top: -.2em;
}

.new {
    font-size: 1.2em;
}

/* -----------------------Header Icon----------------------- */
.close {
    position: fixed;
    z-index: 99;
    top: 1.1em;
    left: 0;
    cursor: pointer;
    transition: .1s;
}

.close:hover {
    scale: 1.02
}

.close2 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: .15em;
    margin-right: 1.6em;
}

.closedBtn {
    left: 1em;
}

.barsContainer {
    display: inline-block;
    transition: all .5s;
}

.change:hover {
    cursor: pointer;
    transform: rotate(90deg);
}

.bar1,
.bar2,
.bar3 {
    background-color: white;
    width: 1.5em;
    height: .2em;
    margin: .3em;
    transition: all .5s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-.33em, .33em);
    transform: rotate(-45deg) translate(-.33em, .33em);
    width: 1.7em;
    height: .2em;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-.33em, -.33em);
    transform: rotate(45deg) translate(-.33em, -.33em);
    width: 1.7em;
    height: .2em;
}

@media screen and (max-width: 648px) {
    .Modal {
        width: 100%;
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

@media screen and (max-width: 850px) {
    .close {
        top: 0;
        height: 9vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}